@{
    ViewBag.Title = "Välkommen till Riggen Poker!";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <h2 id="text">@ViewBag.Title</h2><br />
            @*<h3>@ViewBag.Message</h3>*@

            <h3 style="color: orangered">Om Riggen Poker</h3>
            <p id="text">
                Vi är ett gäng glada amatörer som spelar poker online och tycker att det ibland är lite tråkigt vid borden.
                Därför startade vi en "privat-turnering" med det fantastiska namnet *Riggen*.
                Meningen är att stämningen ska vara uppsluppen, no bad feelings, och bara ha roligt när vi spelar.
                Därför bestämde vi också att "turren" ska gå på fredagar så man kan ta ett glas eller två.
                <br />
                <br />

                I Riggenturneringen kommer pengarna i 2:a-hand och "att ha roligt" i första hand!!<br />
                <br />
                Ett annat populärt "namn" på *Riggen* är också *Gula chatten*, eftersom chattrutan är gul hela tiden.
                Dealern får knappt en syl i vädret.<br />
                <br />
            </p>

            @*<img src="https://images3.alphacoders.com/206/206369.jpg" id="aboutBild">*@
        </div> 
</div>
    </div>

<br />
