@{
    ViewBag.Title = "Kontakta oss";
}
<div class="container-fluid"><h2>@ViewBag.Title</h2><br /><br /><br /><br />
<h5>Vid frågor eller ansökan om medlemsskap, tveka inte att höra av dig.</h5><br />

<address>
    <strong>Webmaster:</strong><a href="mailTo:ssk@riggenpoker.se">ssk@riggenpoker.se</a><br />
</address>

<img src="http://www.officialpsds.com/images/stocks/Fire-Poker-stock6196-large.png" id="kontaktBild" alt="Flames" max-width="300">
</div>