
@{
    ViewBag.Title = "News";
}

<h2 style="color: orangered">Nyheter</h2>
<br />
<br />

<p id="text">    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend dictum ipsum. <br />
    Fusce suscipit nisl diam, a luctus magna posuere iaculis. Aenean accumsan interdum risus in vehicula. <br />
    Pellentesque rhoncus maximus leo, vel convallis dolor consequat vitae. <br />
    Sed hendrerit euismod ligula, sed mattis justo iaculis et. 
    Duis eros neque, rhoncus quis scelerisque fringilla, feugiat ut lectus. <br />
    Donec sit amet leo a ligula facilisis pellentesque ut eget massa. Ut sollicitudin nisi ex, a mattis libero maximus at. <br />
    Nam felis ex, consectetur in tortor et, pulvinar aliquet metus.<br />
    Pellentesque a turpis libero. Phasellus metus dui, tristique nec dictum in, posuere in eros. <br />
    Etiam eget mi nibh. Donec vestibulum tortor ac dui gravida ornare. <br />
    Cras finibus, lacus et viverra lacinia, velit turpis vehicula elit, eu porta leo ante vitae quam. <br />
    Sed laoreet eros euismod, lobortis tortor sit amet, porta ipsum. <br />
    Etiam massa lacus, tristique iaculis venenatis quis, aliquet id magna.<br />
    Integer id placerat dui. Integer a enim elit. Pellentesque faucibus scelerisque dolor a finibus.<br /> 
    Morbi eu tincidunt felis. Sed fringilla imperdiet arcu, id interdum nulla commodo in. <br />
    Sed interdum, neque a pellentesque efficitur, massa tortor posuere elit, ut aliquam nisl dui ut purus. 
    Fusce condimentum erat urna, quis elementum mi consectetur eu. Pellentesque vel luctus tellus, vel consequat orci. <br />
    Vivamus nunc est, semper sed dui eu, hendrerit sollicitudin lectus. Praesent tempor lectus nec neque venenatis rutrum. <br />
    Suspendisse potenti. Vestibulum quam urna, malesuada non tortor ut, facilisis facilisis justo. <br />
    Aliquam eget dolor a justo ultricies porttitor. Nunc pharetra turpis gravida sem sagittis, eget tincidunt lorem porta. <br />
    Vivamus elit sem, fermentum a tincidunt id, tempus eu lorem. Vestibulum maximus odio in lobortis hendrerit.<br />
    Sed eget eros eu ante dignissim fermentum. Phasellus vestibulum auctor nulla id placerat. 
    Morbi sem dui, placerat ac urna ac, malesuada aliquam lacus. Nunc ac gravida erat, in sodales quam. <br />
    Suspendisse mollis eros ut imperdiet facilisis. Morbi et pulvinar dui. Maecenas nec vestibulum erat.<br />
    Nunc blandit feugiat fermentum. Vestibulum est felis, rhoncus ut dolor a, tincidunt convallis odio. 
    Aliquam et dui et metus fringilla ultrices. 
    Aliquam porttitor ligula eget nibh interdum, vel cursus nunc sagittis. <br />
    Cras pretium risus ac urna blandit, et consequat justo euismod. Nunc dapibus, tellus sed tincidunt sodales, mauris dui dignissim orci, gravida fringilla est est a justo. <br />
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. <br />
    Aliquam a metus eu metus commodo iaculis. Cras at turpis iaculis, sodales magna non, posuere est. <br />
    In felis mauris, vestibulum quis ex quis, aliquam iaculis massa. <br />
    Nulla eget tortor convallis, vehicula dolor a, varius felis. <br />
    Pellentesque volutpat, urna eu sagittis lobortis, mi nibh cursus nisi, et ullamcorper dolor sem vel velit. <br />
    Cras viverra libero vitae ex faucibus, in aliquam justo iaculis. Fusce ut ex et eros tincidunt congue. <br />
    Praesent non dictum eros. Aenean quis dui rutrum, facilisis neque a, fermentum felis. </p>
